body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 50px;
}

.ae {
    color: orange;
}

p {
    font-weight: 30;
    font-size: 18px;

}

.flexible-container {
    display: flex;
    margin-bottom: 50px;
}

.paraim {
    width: 50%;
    padding: 10px;
    padding-left: 90px;
}

.paraim img {
    width: 80%;

}

.button {
    text-decoration: none;
    padding: 10px 12px;
    background-image: linear-gradient(orange, salmon);
    border-radius: 5px;
    color: whitesmoke;
    font-weight: 700;
}

.bgimg {
    background-image: url(top-banner.png);
    background-repeat: no-repeat;


}

.sec1 {
    width: 50%;
    padding: 10px 3px 10px 10px;

}

.resume {
    text-decoration: none;
    background-image: linear-gradient(orange, salmon);
    padding: 10px 12px;
    border-radius: 5px;
    color: white;
    font-weight: 700;

}

.sec2 {
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

h2 {
    font-size: 40px;
}

.box {
    box-shadow: 10px 10px 50px gray;
    width: 40%;
    margin: 10%;
    padding: 20px;
}

.sd3 {
    padding: 20px;
}

.sec3 {
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
}

#s3d1 {
    border-left: 7px solid forestgreen;
}

#s3d2 {
    border-left: 7px solid indianred;
}

footer {
    text-align: center;
    padding-bottom: 10px;
}